.bigBox{
    margin-top:50px;
    margin-bottom: 50px;
display: flex;
justify-content: space-around;
flex-wrap: wrap;
}

.smallBox{
width:260px;
height: 200px;
background-color: white;
border-radius: 5px;
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.466);

}